<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ block('page_title')|striptags|trim ?: page.title }} &mdash; {{ site.title }} &mdash; {{ site.subtitle }}</title>
        <meta charset="utf-8">
        <meta name="theme-color" content="#ffffff">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block head_meta %}
            <meta name="robots" content="noindex, follow">
        {% endblock %}


        <link href="/favicon.png" rel="icon" type="image/png">
        <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,400italic,600italic,700italic" rel="stylesheet" type="text/css">
        <link href="//fonts.googleapis.com/css?family=Source+Code+Pro:400,600" rel="stylesheet" type="text/css">
        <link href="{{ site.url }}/components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="{{ site.url }}/components/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="{{ site.url }}/css/style.css" rel="stylesheet" type="text/css">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">

        {% block head_authors %}
        {% endblock %}

        <link rel="stylesheet" href="{{ site.url }}/components/highlightjs/styles/github.css">
        <link rel="alternate" type="application/atom+xml" href="{{ site.url }}/atom.xml" title="{{ site.title }} activity feed">

        {% block head_styles %}
        {% endblock %}

        {% block head_scripts %}
        {% endblock %}
    </head>
    <body>





        <header class="navbar navbar-inverse navbar-static-top blog-menu" id="top" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ site.url }}/"><img src="/images/logo-tfn.png" id="logo" title="{{ site.title }}"></a>
                </div>
                <nav class="collapse navbar-collapse bs-navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ site.url }}/blog">Posts Archive</a></li>
                        <li><a href="{{ site.url }}/blog/tags">Tags</a></li>
                        <li><a href="{{ site.url }}/blog/authors">Authors</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="http://careers.symbid.com">Jobs</a></li>
                        <li><a href="{{ site.url }}/about">About</a></li>
                    </ul>
                </nav>
            </div>
        </header>


        <div class="page-header blog-header">
            <div class="container">
                <h1>
                    {% block page_title %}
                    {% endblock %}
                    {% if block('page_title')|trim is empty %}
                        {{ page.title }}
                    {% endif %}
                </h1>
            </div>
        </div>


        <div class="container blog-main">


            <div class="row">

                <div class="col-sm-8 blog-content">
                    {% block content_wrapper %}
                        {% block content %}
                        {% endblock %}
                    {% endblock %}
                </div>

                <div class="col-sm-4 blog-sidebar">
                    {% block sidebar_post_meta %}
                    {% endblock %}

                    <div js-packagist-list></div>

                    <!--
                    -->

                </div><!-- /.blog-sidebar -->

            </div><!-- /.row -->

        </div>



        <footer class="blog-footer">
            <div class="container">
                &copy; {{ "now"|date("Y") }} {{ site.title }}
            </div>
        </footer>

        <script src="{{ site.url }}/components/jquery/jquery.min.js"></script>
        <script src="{{ site.url }}/components/bootstrap/js/bootstrap.min.js"></script>
        <script src="{{ site.url }}/js/packagist.js"></script>
        {% block scripts %}
        {% endblock %}

        {% if site.google_analytics_tracking_id %}

        <script type="text/javascript">
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', '{{site.google_analytics_tracking_id}}', 'auto');
            ga('send', 'pageview');
        </script>
        {% endif %}

        <script src="{{ site.url }}/components/highlightjs/highlight.pack.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>

        <script src="{{ site.url }}/js/jquery.directive.js"></script>
        <script src="{{ site.url }}/js/passwordstrength.js"></script>
        <script src="{{ site.url }}/js/showpassword.js"></script>

        {% block scripts_after %}
        {% endblock %}

        {% if site.disqus.shortname %}
        <script type="text/javascript">
            var disqus_shortname = '{{ site.disqus.shortname }}';

            (function () {
                var s = document.createElement('script'); s.async = true;
                s.type = 'text/javascript';
                s.src = '//' + disqus_shortname + '.disqus.com/count.js';
                (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
            }());
        </script>
        {% endif %}
    </body>
</html>
