{% extends "default" %}

{% block head_meta %}
    <meta name="robots" content="index, follow">
{% endblock %}

{% block head_authors %}
    {% if (page.authors) %}
        {% for handle in page.authors %}
        <meta name="author" content="{{ get_author_data(handle).twitter }}">
        <link rel="author" href="{{ get_author_data(handle).twitter }}">
        {% endfor %}
    {% endif %}
{% endblock %}

{% block page_title %}
    {{ page.title }}
{% endblock %}

{% block content_wrapper %}
    <article class="blog-article">

        <header class="blog-article-header">
            <!--
                <h1>{{ page.title }}</h1>
            -->
            {% if page.authors %}
                <div class="blog-article-authors">{% include "author_list.html.twig" with {authors: page.authors} %}</div>
            {% endif %}
            {% if (page.date) %}
                <div class="blog-article-date"><small>Posted on {{ page.date|date("l j F Y") }}</small></div>
            {% endif %}
        </header>

        <div class="blog-article-content">
            {{ page.blocks.content|raw }}
        </div>

        {% if page.previous_post or page.next_post %}
            <nav class="clearfix">
                {% if page.next_post %}
                    <a class="btn btn-default pull-left" href="{{ site.url }}{{ page.next_post.url }}" title="{{ page.next_post.title }}">
                        <i class="fa fa-fw fa-chevron-left"></i>
                        Newer
                    </a>
                {% endif %}

                {% if page.previous_post %}
                    <a class="btn btn-default pull-right" href="{{ site.url }}{{ page.previous_post.url }}" title="{{ page.previous_post.title }}">
                        Older
                        <i class="fa fa-fw fa-chevron-right"></i>
                    </a>
                {% endif %}
            </nav>
            <hr>
        {% endif %}


        {% if site.disqus.shortname %}
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            var disqus_shortname = '{{ site.disqus.shortname }}';

            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        {% endif %}


    </article>
{% endblock %}

{% block sidebar_post_meta %}
    {% if page.authors %}
        {% include "authors_box.html.twig" with {authors: page.authors} %}
    {% endif %}

    {% if page.tags %}
        {% include "tags_box.html.twig" with {tags: page.tags} %}
    {% endif %}

{% endblock %}
