$symbid-blue: #498BCA;
$dark-symbid-blue: #2C6FAF;

$white-gray: #f9f9f9;
$light-gray: #f2f2f2;
$light-medium-gray: #C9C9C9;
$medium-gray: #a0a0a0;
$medium-dark-gray: #838383;
$dark-gray: #666;
$darker-gray: #333;

@import "typography";

html {
    /*min-height: 100%;*/
    height: 100%;
}

body {
    font-family: "Source Sans Pro", "Helvetica Neue", arial, sans-serif;
    font-size: 16px;
    height: 100%;
    /*min-height: 100%;*/
    color: $dark-gray;
}

h1, h2, h3, h4 {
    font-weight: normal;
    color: $darker-gray;
}

h5 {
    font-weight: bold;
}

a {
    color: $symbid-blue;

    &:hover {
        color: $dark-symbid-blue;
    }
}

dt {
    margin: 0;
}

#logo {
    width: 87px;
    height: 29px;
    position: relative;
    top: -4px;
}

.blog-menu {
    background: $symbid-blue;
    border: none;
    margin: 0;

    .navbar-toggle {
        color: white;
        border-color: white;
    }

    .navbar-nav > li > a {
        font-size: 14px;
        color: white;
        text-transform: uppercase;
        text-decoration: none;

        &:hover {
            background: $dark-symbid-blue;
            // text-decoration: underline;
        }
    }

    .navbar-brand {
        &:hover {
            background: $dark-symbid-blue;
        }
    }
}


.blog-header {
    background: $dark-gray;
    margin-top: 0;
    padding: 0;

    h1, p {
        color: white;
    }
}

.blog-footer {
    background: $dark-gray;
    color: white;
    padding: 10px;
    text-align: center;
}

.blog-main {
    min-height: 100%;
}

.blog-content {
    border-right: 1px solid $light-gray;

    pre,
    code {
        background: transparent;
        border: none;
        border-radius: 0;
        font-family: "Source Code Pro";
        font-size: 0.9em;
    }

    pre {
        margin-bottom: 1.65em;
        background: rgba($symbid-blue, 0.1);

        + pre {
            // margin-top: -1.5em;
        }
    }
}

.blog-article-header {
    padding: 20px 0;
    padding: 0 0 20px;

    h1, h2 {
        margin: 0;
    }
}

.blog-article-date {
    color: $medium-gray;
}

/*
.blog-article-header {
    padding: 10px 20px 10px;
    margin: -20px -15px 20px;
    background: $light-gray;
}

.blog-article-content > p:first-child {
    font-size: 1.5em;
    line-height: 1.5;
    margin-bottom: 0.85em;
}
*/


.blog-author-avatar {
    width: 60px;
    height: 60px;
    margin: 0 15px 5px 0;
    float: left;
    box-shadow: 0 0 2px $medium-gray;
}

.blog-author-name {
    /*float: left;*/
    line-height: 40px;
    margin: 0;
    padding: 0;
}

.blog-author-links {
    /*float: left;*/
    line-height: 20px;
}

.blog-author-bio {
    clear: left;
    margin: 0;
}

.blog-article-table {
    th[scope="row"] {
        font-weight: normal;
        width: 50%;
    }
}

.blog-icon-list {
    > li {
        position: relative;
        padding-left: 30px;

        > .fa {
            color: $medium-gray;
            line-height: inherit;

            &:first-child {
                position: absolute;
                left: 0;
                top: 0;
            }
        }

    }
}


.blog-well {
    background: $white-gray;
    border-radius: 0;
    border-color: $light-gray;
    box-shadow: 0 1px 1px $light-gray inset;
    margin-bottom: 1.65em;
}
